body {
	background-color: #f2f2f2;
	font-family: "PT Sans";
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    width: 100%;     
    margin: 0;
    padding: 0;
  }

  h3 {
  	font-size: 21px;
  	line-height: 21px;
  }

  h2 {
  	font-size: 21px;
  	line-height: 26px;
  }

  .main-container {
  	width: 1200px;
  	background-color: #ffffff;
  	margin: 0 auto;
  	height: auto;
  	outline: green solid;
  } 

/*СТИЛИ ДЛЯ ФОНА ГЛАВНОЙ СТРАНИЦЫ*/
.fone{
	max-height: 509px;
}
  .background {
  	position: relative;   	
  	/*outline: black solid;*/
  }

  .welcome {
  	position: relative;
  	z-index: 1;  	
  	top: -437px;
  	/*outline: black solid;*/
  }

  .angle {
  	position: relative;
  	top: -425px;
  	z-index: 1;
  	/*outline: black solid;*/
  }
  
  /*ОФОРМЛЕНИЕ ГЛАВНОЙ СТРАНИЦЫ*/
  /*ЗАГОЛОВОК*/
  header {
  	outline: red solid;
  	padding: 0;
  	margin: 0;
  }

ul {
	list-style: none;
	text-decoration: none;
	padding: 0;
    margin: 0;			
}

 .main-navigation li {
  	width: 20%;  	
  	outline: yellow solid;  	
  	padding: 15px 0;  		
  }

  .main-navigation li a {
  	text-decoration: none;
  	font-weight: bold;
  	color: black;  	
  }

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(2) {
	float: left;
} 

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
	float: right;
} 

/*ЛОГОТИП*/
.index-logo {
	outline: orange solid;	
	margin: 0 auto;
	position: relative; /*Если я применяю позиционирование для логотипа то нарушается Б7?*/
	z-index: 1;
	height: 56px;
	width: 138px;
}

/*ОСНОВНОЙ БЛОК*/
main {
	outline: blue solid;
	padding: 0;
  	margin: 0;
}

 
.advertise {
	font-size: 21px;
	font-weight: bold;
	display: inline-block;
	margin: 60px 300px 40px;	
	outline: pink solid;
}

/*БЛОК 30% ОТ ШИРИНЫ РОДИТЕЛЬСКОГО КОНТЕЙНЕРА*/
.feature {
	width: 33.3%;		
	outline: yellow solid;	
}

/*ПРИЧИНА №1,2 ГОЛУБОЙ БЛОК*/
.block-blue {	
	max-height: 256px;
	background-color: #81b3d2;
	color: white;
	outline: orange solid;	
}

.image {
	max-height: 256px;
	width: 66.6%;	
	outline: yellow solid;
}

.block-blue .image,
.block-blue .feature {
		float: left;
}

/*БЛОК С РЕКОММЕНДАЦИЯМИ*/
.recommendations {
	max-height: 330px;
	outline: red solid;	
}

.recommendations .feature {
	float: left;
	padding-top: 61px;
}

.recommendations .feature p {
	padding: 0 55px;
}

/*ПРИЧИНЫ №3-5, СЕРЫЙ БЛОК*/
.block-gray {
	max-height: 256px;
	background-color: #eeeeee;	
	outline: red solid;	
	margin-bottom: 55px;
}

.block-gray .feature {
	float: left;
}

.block-gray .feature p {
	padding: 0 60px;
}

/* ЗАИНТЕРЕСОВАЛИСЬ? = БЛОК ДЛЯ ВЫЗОВА ФОРМЫ ЗАКАЗА*/
.order {
	outline: red solid;
}

.search {
	display: inline-block;
	width: 570px;	
	padding: 30px 0;
	background-color: #766357;
	color: white;	
}

.order a {
	text-decoration: none;	
	font-weight: bold;
	line-height: 26px;
	font-size: 21px;	
}

/*ПОДВАЛ*/
footer {
	/*height: 120px;*/
	outline: red solid;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
	width: 33.3%;
	height: 120px;
	float: left;
	outline: yellow solid;
}

/*РАСПОРКА*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*ОФОРМЛЕНИЕ ВКЛАДКИ "ГОСТИНИЦЫ"*/
/*ФОРМА С ОТБОРОЧНЫМИ КРИТЕРИЯМИ*/
.criteria {
	min-height: 217px;
	outline: black solid;
	background: url("../img/filter backgrount_2.jpg") no-repeat;
}

.item-criterion {
	width: 25%;
	float: left;
	outline: yellow solid;
	vertical-align: middle;	
}

.price-criterion {
	width: 40%;
	float: right;
	outline: yellow solid;
	
}

/*КАРТОЧКА ОТЕЛЯ*/
.hotel-card {
	outline: red solid;
	padding: 30px 73px;
	margin: 0;
}

.right-side {
	float: right;
	outline: green solid;
	max-height: 90px;
}

.left-side {
	float: left;
	outline: green solid;
	max-height: 90px;
	max-width: 250px;
}

.hotel-info,
.hotel-booking {
	width: 110px;
	padding: 0;
	text-align: left;	
	float: left;
	outline: yellow solid;
}

.hotel-picture {
	margin-right: 30px;
	max-height: 90px;
	float: left;
	outline: yellow solid;
}

.hotel-card h2 {
	float: left;
	margin: 0px;	
	outline: red solid;	
	padding-bottom: 10px;
}

.info-details,
.booking-details {
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 5px 15px;
}

.info-details {
	background-color: #81b3d2;	
}

.booking-details {
	background-color: #766357;	
}

.type-price {
	display: inline-block;
	padding-bottom: 5px;
}

.hotel-raiting {
	display: inline-block;
	margin-top: 30px;
	background-color: #f2f2f2;
	padding: 5px 15px;
	outline: yellow solid;
}

.hotel-stars {
	text-align: right;
	outline: yellow solid;
}

/*ФИЛЬТР*/
.filter {
	min-height: 87px;
	outline: red solid;
	padding: 30px 73px;
	margin: 0;
}

 .filter-types li a {
  	font-size: 12px;
  	line-height: 18px;
  	text-decoration: none;
  	color: black;  	
 }

 .filter-quantity,
 .filter-types li {  	
  	float: left;
  	margin-right: 10px;
  	outline: yellow solid;  	
 }

 .filter-types li:last-child {
 	margin-right: 0px;
 }

 .switch {
  	float: right;
  	outline: yellow solid;   
  	margin-top: 20px;
}

.switch-active {
	margin-left: 15px;
}

.up-down {
	outline: gray solid;
}

.filter-types {
	margin-top: 18px;
	float: left;
	outline: green solid;
}

.filter-quantity {
	display: inline-block;
	margin-right: 54px;

}